<md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">

    <span flex></span>

    <md-nav-item ng-show="nav.user.level === 0" md-nav-click="nav.signup()" aria-label="Sign up">
        Sign up
    </md-nav-item>
    <md-nav-item ng-show="nav.user.level === 0" md-nav-click="nav.login()" aria-label="Login">
        Login
    </md-nav-item>

    <md-nav-item ng-show="nav.user.level !== 0" md-nav-click="nav.search()" aria-label="Search">
        {{nav.user.name}}
    </md-nav-item>

    <md-nav-item ng-show="nav.user.level !== 0" md-nav-click="nav.logout()" aria-label="Log out">
        Log out
    </md-nav-item>


    <md-menu ng-show="nav.user.level !== 0" md-position-mode="target-right target">
        <md-button aria-label="Open demo menu" ng-click="$mdMenu.open($event)"
                   class="_md-nav-button md-accent md-button md-ink-ripple md-unselected">
            Cart: {{nav.cart.length}} items
        </md-button>
        <md-menu-content width="6" ng-hide="!nav.cart.length">
            <md-menu-item ng-repeat="item in nav.cart">
                <!-- <md-button ng-click="ctrl.announceClick($index)"> -->
                    <div layout="row" flex>
                        <p flex>{{item.name}}</p>
                    </div>
                <!-- </md-button> -->
            </md-menu-item>
        </md-menu-content>
    </md-menu>

</md-nav-bar>